.blackBorder{
    border : black solid 10px
}

.center{
    display: flex;
    align-content: space-around;
}

.yellowBorder{
    border : yellow solid 5px
}

.greenBorder{
    border : green solid 7px
}

.redBorder{
    border : red solid 7px
}
